.control-label:after 
{
    content:" *";
    color: red;
	}


input[type="text"], input[type="email"],input[type="date"],input[type="number"]
{
	width: 30%;
}

.form-group select{
	width: 30%;
}

#myform{
	/*margin-left: 40%;*/
}

/*media queries*/

@media only screen and (max-width: 400px) {

	input[type="text"], input[type="email"],input[type="date"],input[type="number"]
		{
			width: 70%;
		}

		.form-group select{
			width: 70%;
		}

		.exp {
			font-size: 14px;
			margin-top: -10%;
		}
}



